<html>
  <head>
    <title>Sign up page</title>
  </head>
  <body>
    <h1>Sign up</h1>
    <h2>to make and track meetings, upload your schedule and more</h2>
    <form method="POST">
      Name: <br/>
      <input type="text" name="name"/> <br/>
      Email: <br/>
      <input type="text" name="email"/> <br/>
      Password: <br/>
      <input type="password" name="password"/> <br/>
      Integrate with Google Calendar <br/>
      <input type="checkbox" name="googleIntegrated"/> <br/>
      <button type="submit">Sign up</button>
    </form>
  </body>
</html>
